body {
    background: #444444;
}

.square {
    width: 30%;
    background: red;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

.container {
    margin: 20px auto;
}

h1 {
    color: white;
    background-color: steelblue;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-weight: normal;
    padding-top: 10px;
}

h1 span {
    font-size: 1.5em;
}

#strip {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background-color: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    transition: all 0.3s;
    outline: none;
}

#message {
    display: inline-block;
    width: 20%;
    text-transform: uppercase;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
}

button:hover {
    color: white;
    background-color: steelblue;
}